// Place all the styles related to the welcome controller here.
// They will automatically be included in application.css.sass.
// You can use Sass (SCSS) here: http://sass-lang.com/
 .homepage  {

  background-repeat:no-repeat;
  background-size: 100%;
  background-image: image_url('loginImage.jpg');

}